name: xKylee - CI (PR)

on:
  pull_request:
    types: ['opened', 'edited', 'reopened', 'synchronize']

jobs:
  validate:
    name: Validate gradle wrapper
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: gradle/wrapper-validation-action@v1

  build:
    name: Build
    needs: [validate]
    runs-on: ubuntu-latest

    steps:
      - name: Set up JDK 11
        uses: actions/setup-java@v1
        with:
          java-version: 11

      - uses: actions/checkout@v1

      - uses: actions/checkout@v1
        with:
          repository: open-osrs/runelite
          ref: master

      - uses: actions/checkout@v1
        with:
          repository: open-osrs/plugins
          ref: master

      - uses: actions/cache@v1
        with:
          path: ~/.gradle/caches
          key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle.kts') }}
          restore-keys: |
            ${{ runner.os }}-gradle-

      - name: Make gradlew executable (client)
        run: chmod +x ./gradlew
        working-directory: /home/runner/work/plugins-source/runelite

      - name: Assembling client
        run: ./gradlew assemble --console=plain
        working-directory: /home/runner/work/plugins-source/runelite

      - name: Building client
        run: ./gradlew build --stacktrace -x test -x checkstyleMain --console=plain
        working-directory: /home/runner/work/plugins-source/runelite

      - name: Upload client artifacts to local maven
        run: ./gradlew :http-api:publishToMavenLocal :runelite-api:publishToMavenLocal :runelite-client:publishToMavenLocal :runescape-api:publishToMavenLocal :injection-annotations:publishToMavenLocal --console=plain
        working-directory: /home/runner/work/plugins-source/runelite

      - name: Make gradlew executable (plugins)
        run: chmod +x ./gradlew
        working-directory: /home/runner/work/plugins-source/plugins

      - name: Assembling plugins
        run: ./gradlew :attackstyles:assemble :xptracker:assemble :clanchat:assemble :specialcounter:assemble --console=plain
        working-directory: /home/runner/work/plugins-source/plugins

      - name: Building plugins
        run: ./gradlew :attackstyles:build :xptracker:build :clanchat:build :specialcounter:build --stacktrace -x test -x checkstyleMain --console=plain
        working-directory: /home/runner/work/plugins-source/plugins

      - name: Upload plugins artifacts to local maven
        run: ./gradlew :attackstyles:publishToMavenLocal :xptracker:publishToMavenLocal :clanchat:publishToMavenLocal :specialcounter:publishToMavenLocal --console=plain
        working-directory: /home/runner/work/plugins-source/plugins

      - name: Make gradlew executable
        run: chmod +x ./gradlew

      - name: Assembling plugins
        run: ./gradlew assemble --console=plain

      - name: Building plugins
        run: ./gradlew build --stacktrace -x test -x checkstyleMain --console=plain

  test:
    name: test
    needs: [validate]
    runs-on: ubuntu-latest

    steps:
      - name: Set up JDK 11
        uses: actions/setup-java@v1
        with:
          java-version: 11

      - uses: actions/checkout@v1

      - uses: actions/checkout@v1
        with:
          repository: open-osrs/runelite
          ref: master

      - uses: actions/checkout@v1
        with:
          repository: open-osrs/plugins
          ref: master

      - uses: actions/cache@v1
        with:
          path: ~/.gradle/caches
          key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle.kts') }}
          restore-keys: |
            ${{ runner.os }}-gradle-

      - name: Make gradlew executable (client)
        run: chmod +x ./gradlew
        working-directory: /home/runner/work/plugins-source/runelite

      - name: Assembling client
        run: ./gradlew assemble --console=plain
        working-directory: /home/runner/work/plugins-source/runelite

      - name: Building client
        run: ./gradlew build --stacktrace -x test -x checkstyleMain --console=plain
        working-directory: /home/runner/work/plugins-source/runelite

      - name: Upload client artifacts to local maven
        run: ./gradlew :http-api:publishToMavenLocal :runelite-api:publishToMavenLocal :runelite-client:publishToMavenLocal :runescape-api:publishToMavenLocal :injection-annotations:publishToMavenLocal --console=plain
        working-directory: /home/runner/work/plugins-source/runelite

      - name: Make gradlew executable (plugins)
        run: chmod +x ./gradlew
        working-directory: /home/runner/work/plugins-source/plugins

      - name: Assembling plugins
        run: ./gradlew :attackstyles:assemble :xptracker:assemble :clanchat:assemble :specialcounter:assemble --console=plain
        working-directory: /home/runner/work/plugins-source/plugins

      - name: Building plugins
        run: ./gradlew :attackstyles:build :xptracker:build :clanchat:build :specialcounter:build --stacktrace -x test -x checkstyleMain --console=plain
        working-directory: /home/runner/work/plugins-source/plugins

      - name: Upload plugins artifacts to local maven
        run: ./gradlew :attackstyles:publishToMavenLocal :xptracker:publishToMavenLocal :clanchat:publishToMavenLocal :specialcounter:publishToMavenLocal --console=plain
        working-directory: /home/runner/work/plugins-source/plugins

      - name: Make gradlew executable
        run: chmod +x ./gradlew

      - name: Assembling plugins
        run: ./gradlew assemble --console=plain

      - name: Testing plugins
        run: ./gradlew test --stacktrace -x test -x checkstyleMain --console=plain

  checkstyleMain:
    name: Checkstyle main
    needs: [validate]
    runs-on: ubuntu-latest

    steps:
      - name: Set up JDK 11
        uses: actions/setup-java@v1
        with:
          java-version: 11

      - uses: actions/checkout@v1

      - uses: actions/checkout@v1
        with:
          repository: open-osrs/runelite
          ref: master

      - uses: actions/checkout@v1
        with:
          repository: open-osrs/plugins
          ref: master

      - uses: actions/cache@v1
        with:
          path: ~/.gradle/caches
          key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle.kts') }}
          restore-keys: |
            ${{ runner.os }}-gradle-

      - name: Make gradlew executable (client)
        run: chmod +x ./gradlew
        working-directory: /home/runner/work/plugins-source/runelite

      - name: Assembling client
        run: ./gradlew assemble --console=plain
        working-directory: /home/runner/work/plugins-source/runelite

      - name: Building client
        run: ./gradlew build --stacktrace -x test -x checkstyleMain --console=plain
        working-directory: /home/runner/work/plugins-source/runelite

      - name: Upload client artifacts to local maven
        run: ./gradlew :http-api:publishToMavenLocal :runelite-api:publishToMavenLocal :runelite-client:publishToMavenLocal :runescape-api:publishToMavenLocal :injection-annotations:publishToMavenLocal --console=plain
        working-directory: /home/runner/work/plugins-source/runelite

      - name: Make gradlew executable (plugins)
        run: chmod +x ./gradlew
        working-directory: /home/runner/work/plugins-source/plugins

      - name: Assembling plugins
        run: ./gradlew :attackstyles:assemble :xptracker:assemble :clanchat:assemble :specialcounter:assemble --console=plain
        working-directory: /home/runner/work/plugins-source/plugins

      - name: Building plugins
        run: ./gradlew :attackstyles:build :xptracker:build :clanchat:build :specialcounter:build --stacktrace -x test -x checkstyleMain --console=plain
        working-directory: /home/runner/work/plugins-source/plugins

      - name: Upload plugins artifacts to local maven
        run: ./gradlew :attackstyles:publishToMavenLocal :xptracker:publishToMavenLocal :clanchat:publishToMavenLocal :specialcounter:publishToMavenLocal --console=plain
        working-directory: /home/runner/work/plugins-source/plugins

      - name: Make gradlew executable
        run: chmod +x ./gradlew

      - name: Assembling plugins
        run: ./gradlew assemble --console=plain

      - name: Checking plugins code conventions (Main)
        run: ./gradlew checkstyleMain --console=plain

  checkstyleTest:
    name: Checkstyle test
    needs: [validate]
    runs-on: ubuntu-latest

    steps:
      - name: Set up JDK 11
        uses: actions/setup-java@v1
        with:
          java-version: 11

      - uses: actions/checkout@v1

      - uses: actions/checkout@v1
        with:
          repository: open-osrs/runelite
          ref: master

      - uses: actions/checkout@v1
        with:
          repository: open-osrs/plugins
          ref: master

      - uses: actions/cache@v1
        with:
          path: ~/.gradle/caches
          key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle.kts') }}
          restore-keys: |
            ${{ runner.os }}-gradle-

      - name: Make gradlew executable (client)
        run: chmod +x ./gradlew
        working-directory: /home/runner/work/plugins-source/runelite

      - name: Assembling client
        run: ./gradlew assemble --console=plain
        working-directory: /home/runner/work/plugins-source/runelite

      - name: Building client
        run: ./gradlew build --stacktrace -x test -x checkstyleMain --console=plain
        working-directory: /home/runner/work/plugins-source/runelite

      - name: Upload client artifacts to local maven
        run: ./gradlew :http-api:publishToMavenLocal :runelite-api:publishToMavenLocal :runelite-client:publishToMavenLocal :runescape-api:publishToMavenLocal :injection-annotations:publishToMavenLocal --console=plain
        working-directory: /home/runner/work/plugins-source/runelite

      - name: Make gradlew executable (plugins)
        run: chmod +x ./gradlew
        working-directory: /home/runner/work/plugins-source/plugins

      - name: Assembling plugins
        run: ./gradlew :attackstyles:assemble :xptracker:assemble :clanchat:assemble :specialcounter:assemble --console=plain
        working-directory: /home/runner/work/plugins-source/plugins

      - name: Building plugins
        run: ./gradlew :attackstyles:build :xptracker:build :clanchat:build :specialcounter:build --stacktrace -x test -x checkstyleMain --console=plain
        working-directory: /home/runner/work/plugins-source/plugins

      - name: Upload plugins artifacts to local maven
        run: ./gradlew :attackstyles:publishToMavenLocal :xptracker:publishToMavenLocal :clanchat:publishToMavenLocal :specialcounter:publishToMavenLocal --console=plain
        working-directory: /home/runner/work/plugins-source/plugins

      - name: Make gradlew executable
        run: chmod +x ./gradlew

      - name: Assembling plugins
        run: ./gradlew assemble --console=plain

      - name: Checking plugins code conventions (Test)
        run: ./gradlew checkstyleTest --console=plain

  bump:
    name: Check version numbers
    needs: [validate]
    runs-on: ubuntu-latest

    steps:
      - name: Extract actor repo
        shell: bash
        run: echo "##[set-output name=repo;]$(echo $(jq --raw-output .pull_request.head.repo.full_name "$GITHUB_EVENT_PATH"))"
        id: extract_actor_repo

      - name: Extract actor repo branch
        shell: bash
        run: echo "##[set-output name=branch;]$(echo $(jq --raw-output .pull_request.head.ref "$GITHUB_EVENT_PATH"))"
        id: extract_actor_repo_branch

      - id: changedFiles
        name: Changed files exporter
        uses: futuratrepadeira/changed-files@v3.0.0
        with:
          repo-token: ${{ secrets.GITHUB_TOKEN }}

      - name: Set up JDK 11
        uses: actions/setup-java@v1
        with:
          java-version: 11

      - uses: actions/checkout@v1

      - name: Make gradlew executable
        run: chmod +x ./gradlew

      - name: Bump version numbers
        id: bumpNewChanged
        if: steps.changedFiles.outputs.files_created != '' && steps.changedFiles.outputs.files_updated != ''
        run: |
          ./gradlew bumpVersion --newFiles="${{ steps.changedFiles.outputs.files_created }}" --changedFiles="${{ steps.changedFiles.outputs.files_updated }}" --console=plain

      - name: Bump version numbers
        id: bumpChanged
        if: steps.changedFiles.outputs.files_created == '' && steps.changedFiles.outputs.files_updated != ''
        run: |
          ./gradlew bumpVersion --changedFiles="${{ steps.changedFiles.outputs.files_updated }}" --console=plain

      - name: Bump version numbers
        id: bumpNew
        if: steps.changedFiles.outputs.files_created != '' && steps.changedFiles.outputs.files_updated == ''
        run: |
          ./gradlew bumpVersion --newFiles="${{ steps.changedFiles.outputs.files_created }}" --console=plain

      - name: Detect changes
        id: detectChanges
        run: |
          git update-index --skip-worktree gradlew

          if ! git diff-index --quiet HEAD --; then
              git diff-index --name-only HEAD --

              exit 1
          fi

  approve:
    name: Approve
    needs: [build, test, checkstyleMain, checkstyleTest, bump]
    runs-on: ubuntu-latest

    steps:
      - name: Approve pull request
        if: github.event_name == 'pull_request' && github.actor == 'OpenOSRS'
        uses: hmarr/auto-approve-action@v2.0.0
        with:
          github-token: ${{ secrets.xKylee }}
