name: xKylee - CI (Push)

on:
  push:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest
    name: Build

    steps:
      - name: Set up JDK 11
        uses: actions/setup-java@v1
        with:
          java-version: 11

      - uses: actions/checkout@v1

      - uses: actions/checkout@v1
        with:
          repository: open-osrs/runelite
          ref: master

      - uses: actions/checkout@v1
        with:
          repository: open-osrs/plugins
          ref: master

      - uses: actions/cache@v1
        with:
          path: ~/.gradle/caches
          key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle.kts') }}
          restore-keys: |
            ${{ runner.os }}-gradle-

      - name: Make gradlew executable (client)
        run: chmod +x ./gradlew
        working-directory: /home/runner/work/plugins-source/runelite

      - name: Assembling client
        run: ./gradlew assemble --console=plain
        working-directory: /home/runner/work/plugins-source/runelite

      - name: Building client
        run: ./gradlew build --stacktrace -x test -x checkstyleMain --console=plain
        working-directory: /home/runner/work/plugins-source/runelite

      - name: Upload client artifacts to local maven
        run: ./gradlew :http-api:publishToMavenLocal :runelite-api:publishToMavenLocal :runelite-client:publishToMavenLocal :runescape-api:publishToMavenLocal :injection-annotations:publishToMavenLocal --console=plain
        working-directory: /home/runner/work/plugins-source/runelite

      - name: Make gradlew executable (plugins)
        run: chmod +x ./gradlew
        working-directory: /home/runner/work/plugins-source/plugins

      - name: Assembling plugins
        run: ./gradlew :attackstyles:assemble :xptracker:assemble :clanchat:assemble :specialcounter:assemble --console=plain
        working-directory: /home/runner/work/plugins-source/plugins

      - name: Building plugins
        run: ./gradlew :attackstyles:build :xptracker:build :clanchat:build :specialcounter:build --stacktrace -x test -x checkstyleMain --console=plain
        working-directory: /home/runner/work/plugins-source/plugins

      - name: Upload plugins artifacts to local maven
        run: ./gradlew :attackstyles:publishToMavenLocal :xptracker:publishToMavenLocal :clanchat:publishToMavenLocal :specialcounter:publishToMavenLocal --console=plain
        working-directory: /home/runner/work/plugins-source/plugins

      - name: Make gradlew executable
        run: chmod +x ./gradlew

      - name: Assembling plugins
        run: ./gradlew assemble --console=plain

      - name: Building plugins
        run: ./gradlew build --stacktrace -x test -x checkstyleMain --console=plain

  test:
    runs-on: ubuntu-latest
    name: Test

    steps:
      - name: Set up JDK 11
        uses: actions/setup-java@v1
        with:
          java-version: 11

      - uses: actions/checkout@v1

      - uses: actions/checkout@v1
        with:
          repository: open-osrs/runelite
          ref: master

      - uses: actions/checkout@v1
        with:
          repository: open-osrs/plugins
          ref: master

      - uses: actions/cache@v1
        with:
          path: ~/.gradle/caches
          key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle.kts') }}
          restore-keys: |
            ${{ runner.os }}-gradle-

      - name: Make gradlew executable (client)
        run: chmod +x ./gradlew
        working-directory: /home/runner/work/plugins-source/runelite

      - name: Assembling client
        run: ./gradlew assemble --console=plain
        working-directory: /home/runner/work/plugins-source/runelite

      - name: Building client
        run: ./gradlew build --stacktrace -x test -x checkstyleMain --console=plain
        working-directory: /home/runner/work/plugins-source/runelite

      - name: Upload client artifacts to local maven
        run: ./gradlew :http-api:publishToMavenLocal :runelite-api:publishToMavenLocal :runelite-client:publishToMavenLocal :runescape-api:publishToMavenLocal :injection-annotations:publishToMavenLocal --console=plain
        working-directory: /home/runner/work/plugins-source/runelite

      - name: Make gradlew executable (plugins)
        run: chmod +x ./gradlew
        working-directory: /home/runner/work/plugins-source/plugins

      - name: Assembling plugins
        run: ./gradlew :attackstyles:assemble :xptracker:assemble :clanchat:assemble :specialcounter:assemble --console=plain
        working-directory: /home/runner/work/plugins-source/plugins

      - name: Building plugins
        run: ./gradlew :attackstyles:build :xptracker:build :clanchat:build :specialcounter:build --stacktrace -x test -x checkstyleMain --console=plain
        working-directory: /home/runner/work/plugins-source/plugins

      - name: Upload plugins artifacts to local maven
        run: ./gradlew :attackstyles:publishToMavenLocal :xptracker:publishToMavenLocal :clanchat:publishToMavenLocal :specialcounter:publishToMavenLocal --console=plain
        working-directory: /home/runner/work/plugins-source/plugins

      - name: Make gradlew executable
        run: chmod +x ./gradlew

      - name: Assembling plugins
        run: ./gradlew assemble --console=plain

      - name: Testing plugins
        run: ./gradlew test --stacktrace -x test -x checkstyleMain --console=plain

  checkstyleMain:
    runs-on: ubuntu-latest
    name: Checkstyle main

    steps:
      - name: Set up JDK 11
        uses: actions/setup-java@v1
        with:
          java-version: 11

      - uses: actions/checkout@v1

      - uses: actions/checkout@v1
        with:
          repository: open-osrs/runelite
          ref: master

      - uses: actions/checkout@v1
        with:
          repository: open-osrs/plugins
          ref: master

      - uses: actions/cache@v1
        with:
          path: ~/.gradle/caches
          key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle.kts') }}
          restore-keys: |
            ${{ runner.os }}-gradle-

      - name: Make gradlew executable (client)
        run: chmod +x ./gradlew
        working-directory: /home/runner/work/plugins-source/runelite

      - name: Assembling client
        run: ./gradlew assemble --console=plain
        working-directory: /home/runner/work/plugins-source/runelite

      - name: Building client
        run: ./gradlew build --stacktrace -x test -x checkstyleMain --console=plain
        working-directory: /home/runner/work/plugins-source/runelite

      - name: Upload client artifacts to local maven
        run: ./gradlew :http-api:publishToMavenLocal :runelite-api:publishToMavenLocal :runelite-client:publishToMavenLocal :runescape-api:publishToMavenLocal :injection-annotations:publishToMavenLocal --console=plain
        working-directory: /home/runner/work/plugins-source/runelite

      - name: Make gradlew executable (plugins)
        run: chmod +x ./gradlew
        working-directory: /home/runner/work/plugins-source/plugins

      - name: Assembling plugins
        run: ./gradlew :attackstyles:assemble :xptracker:assemble :clanchat:assemble :specialcounter:assemble --console=plain
        working-directory: /home/runner/work/plugins-source/plugins

      - name: Building plugins
        run: ./gradlew :attackstyles:build :xptracker:build :clanchat:build :specialcounter:build --stacktrace -x test -x checkstyleMain --console=plain
        working-directory: /home/runner/work/plugins-source/plugins

      - name: Upload plugins artifacts to local maven
        run: ./gradlew :attackstyles:publishToMavenLocal :xptracker:publishToMavenLocal :clanchat:publishToMavenLocal :specialcounter:publishToMavenLocal --console=plain
        working-directory: /home/runner/work/plugins-source/plugins

      - name: Make gradlew executable
        run: chmod +x ./gradlew

      - name: Assembling plugins
        run: ./gradlew assemble --console=plain

      - name: Checking plugins code conventions (Main)
        run: ./gradlew checkstyleMain --console=plain

  checkstyleTest:
    runs-on: ubuntu-latest
    name: Checkstyle test

    steps:
      - name: Set up JDK 11
        uses: actions/setup-java@v1
        with:
          java-version: 11

      - uses: actions/checkout@v1

      - uses: actions/checkout@v1
        with:
          repository: open-osrs/runelite
          ref: master

      - uses: actions/checkout@v1
        with:
          repository: open-osrs/plugins
          ref: master

      - uses: actions/cache@v1
        with:
          path: ~/.gradle/caches
          key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle.kts') }}
          restore-keys: |
            ${{ runner.os }}-gradle-

      - name: Make gradlew executable (client)
        run: chmod +x ./gradlew
        working-directory: /home/runner/work/plugins-source/runelite

      - name: Assembling client
        run: ./gradlew assemble --console=plain
        working-directory: /home/runner/work/plugins-source/runelite

      - name: Building client
        run: ./gradlew build --stacktrace -x test -x checkstyleMain --console=plain
        working-directory: /home/runner/work/plugins-source/runelite

      - name: Upload client artifacts to local maven
        run: ./gradlew :http-api:publishToMavenLocal :runelite-api:publishToMavenLocal :runelite-client:publishToMavenLocal :runescape-api:publishToMavenLocal :injection-annotations:publishToMavenLocal --console=plain
        working-directory: /home/runner/work/plugins-source/runelite

      - name: Make gradlew executable (plugins)
        run: chmod +x ./gradlew
        working-directory: /home/runner/work/plugins-source/plugins

      - name: Assembling plugins
        run: ./gradlew :attackstyles:assemble :xptracker:assemble :clanchat:assemble :specialcounter:assemble --console=plain
        working-directory: /home/runner/work/plugins-source/plugins

      - name: Building plugins
        run: ./gradlew :attackstyles:build :xptracker:build :clanchat:build :specialcounter:build --stacktrace -x test -x checkstyleMain --console=plain
        working-directory: /home/runner/work/plugins-source/plugins

      - name: Upload plugins artifacts to local maven
        run: ./gradlew :attackstyles:publishToMavenLocal :xptracker:publishToMavenLocal :clanchat:publishToMavenLocal :specialcounter:publishToMavenLocal --console=plain
        working-directory: /home/runner/work/plugins-source/plugins

      - name: Make gradlew executable
        run: chmod +x ./gradlew

      - name: Assembling plugins
        run: ./gradlew assemble --console=plain

      - name: Checking plugins code conventions (Test)
        run: ./gradlew checkstyleTest --console=plain

  update_draft_release:
    name: Draft release
    runs-on: ubuntu-latest

    steps:
      - uses: toolmantim/release-drafter@v5.2.0
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  bootstrap:
    runs-on: ubuntu-latest
    needs: [build, test, checkstyleMain, checkstyleTest]
    name: Bootstrap

    steps:
      - name: Set up JDK 11
        uses: actions/setup-java@v1
        with:
          java-version: 11

      - uses: actions/checkout@v1

      - uses: actions/checkout@v1
        with:
          repository: open-osrs/runelite
          ref: master

      - uses: actions/checkout@v1
        with:
          repository: open-osrs/plugins
          ref: master

      - uses: actions/checkout@v1
        with:
          repository: xKylee/plugins-release
          ref: master

      - uses: actions/cache@v1
        with:
          path: ~/.gradle/caches
          key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle.kts') }}
          restore-keys: |
            ${{ runner.os }}-gradle-

      - name: Make gradlew executable (client)
        run: chmod +x ./gradlew
        working-directory: /home/runner/work/plugins-source/runelite

      - name: Assembling client
        run: ./gradlew assemble --console=plain
        working-directory: /home/runner/work/plugins-source/runelite

      - name: Building client
        run: ./gradlew build --stacktrace -x test -x checkstyleMain --console=plain
        working-directory: /home/runner/work/plugins-source/runelite

      - name: Upload client artifacts to local maven
        run: ./gradlew :http-api:publishToMavenLocal :runelite-api:publishToMavenLocal :runelite-client:publishToMavenLocal :runescape-api:publishToMavenLocal :injection-annotations:publishToMavenLocal --console=plain
        working-directory: /home/runner/work/plugins-source/runelite

      - name: Make gradlew executable (plugins)
        run: chmod +x ./gradlew
        working-directory: /home/runner/work/plugins-source/plugins

      - name: Assembling plugins
        run: ./gradlew :attackstyles:assemble :xptracker:assemble :clanchat:assemble :specialcounter:assemble --console=plain
        working-directory: /home/runner/work/plugins-source/plugins

      - name: Building plugins
        run: ./gradlew :attackstyles:build :xptracker:build :clanchat:build :specialcounter:build --stacktrace -x test -x checkstyleMain --console=plain
        working-directory: /home/runner/work/plugins-source/plugins

      - name: Upload plugins artifacts to local maven
        run: ./gradlew :attackstyles:publishToMavenLocal :xptracker:publishToMavenLocal :clanchat:publishToMavenLocal :specialcounter:publishToMavenLocal --console=plain
        working-directory: /home/runner/work/plugins-source/plugins

      - name: Make gradlew executable
        run: chmod +x ./gradlew

      - name: Assembling plugins
        run: ./gradlew assemble --console=plain

      - name: Building plugins
        run: ./gradlew build --stacktrace -x test -x checkstyleMain --console=plain

      - name: Bootstrapping plugins
        run: ./gradlew bootstrapPlugins --stacktrace --console=plain

      - name: Copy bootstrap
        run: cp -af /home/runner/work/plugins-source/plugins-source/build/bootstrap/. /home/runner/work/plugins-source/plugins-release/

      - name: Commit bootstrap
        run: |
          git add $(git ls-files -o --exclude-standard) plugins.json
          git diff-index --quiet HEAD \
          || git -c user.name="GitHub" -c user.email="noreply@github.com" commit \
            --author="github-actions[bot] <41898282+github-actions[bot]@users.noreply.github.com>" \
            -m "Automatic plugin bootstrap"
        working-directory: /home/runner/work/plugins-source/plugins-release

      - name: Push changes
        uses: ad-m/github-push-action@master
        with:
          github_token: ${{ secrets.xKylee }}
          directory: /home/runner/work/plugins-source/plugins-release
          repository: xKylee/plugins-release
